<div class="container">
  <form #signInForm="ngForm" class="form" (ngSubmit)="signIn()">  
    <img class="logo" src="/assets/images/logo.png" />
    <div class="sign-in">Sign In</div>
    <div class="sub-text">to acquire awesome bots</div>
    <input
      name="email"
      required
      email
      #email="ngModel"
      [(ngModel)]="credentials.email"
      placeholder="Email Address"
      type="text"
    />
    <em class="error" *ngIf="email.errors?.['required'] && email.touched">Email is required.</em>
    <em class="error" *ngIf="email.errors?.['email'] && email.touched">Must be a valid email address.</em>
    <input
      name="password"
      required
      #password="ngModel"
      [(ngModel)]="credentials.password"
      placeholder="Password"
      type="password"
    />
    <em class="error" *ngIf="password.invalid && password.touched">Password is required.</em>
    <div class="buttons">
      <button type="submit" [disabled]="signInForm.form.invalid" class="button cta">
        Sign In
      </button>
    </div>
    <div class="signInError" *ngIf="signInError">
      Sign-In Failed. Please try again.
    </div>
  </form>
<!--This code can be used for troubleshooting forms issues
  <div>
    <b>Form Information</b>
    <label>signInForm.valid:</label> {{signInForm.valid}}<br />
    <label>signInForm.invalid:</label> {{signInForm.invalid}}<br />
    <br />
    <label>signInForm.dirty:</label> {{signInForm.dirty}}<br />
    <label>signInForm.pristine:</label> {{signInForm.pristine}}<br />
    <br/>
    <label>signInForm.touched:</label> {{signInForm.touched}}<br />
    <label>signInForm.untouched:</label> {{signInForm.untouched}}<br />
    <br />
    <label>signInForm.submitted:</label> {{signInForm.submitted}}<br />
    <b> Control Information</b>
    <br />
    <label>email.valid:</label> {{email.valid}}<br />
    <label>email.invalid:</label> {{email.invalid}}<br />
    <br />
    <label>email.dirty:</label> {{email.dirty}}<br />
    <label>email.pristine:</label> {{email.pristine}}<br />
    <br />
    <label>email.touched:</label> {{email.touched}}<br />
    <label>email.untouched:</label> {{email.untouched}}<br />
  </div>-->
</div>
